@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

body{
    background-color: #1A4156 ;
    font-family: 'Nunito', sans-serif;
}


img{
    height: 60%;
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.container-fluid{
    font-weight: bold;
     background-color: #1A4156;
     height: 80px;
}
.nav-link{
     color: white;
}



.card-body{
   height: 210px;
   text-align: center;
   background-color: #264b5f;
}

.card{
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;
}