
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
body{
    background: rgb(70, 67, 131); background: -moz-linear-gradient(left, rgba(25,22,84,1) 0%, rgba(67,198,172,1) 100%); background: -webkit-gradient(left top, right top, color-stop(0%, rgba(25,22,84,1)), color-stop(100%, rgba(67,198,172,1))); background: -webkit-linear-gradient(left, rgba(25,22,84,1) 0%, rgba(67,198,172,1) 100%); background: -o-linear-gradient(left, rgba(25,22,84,1) 0%, rgba(67,198,172,1) 100%); background: -ms-linear-gradient(left, rgba(25,22,84,1) 0%, rgba(67,198,172,1) 100%); background: linear-gradient(to right, rgba(25,22,84,1) 0%, rgba(67,198,172,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191654', endColorstr='#43c6ac', GradientType=1 )
}

.contenedor{
    margin-top: 4%;
    
}


.text{
    text-transform:uppercase;
}

.btn{
    border-style: none;
    margin-top: -8%;
}

.contenido{
  width:55%;
  padding: 1px;
  display: flex;
  background-color: white;
  margin: auto;
  flex-wrap: wrap;
  border: solid 1px #70a0c2;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.349);
}


/* .img{
   display: flex;
   justify-content: center;

} */

.img img{
    width: 200px;
 }



.a{
    font-size: 18px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
  margin-left:85%;
  }
  
  .bi{
   cursor:pointer; 
   font-size:21px;
  }


  /* SCROLL */
#button-up{
    width: 60px;
    height: 60px;
    background: #462f7c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: fixed;
    bottom: 10%;
    z-index: 1;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 500ms ease;
    transform: scale(0);
}


.pie-pagina{
    background-color: white;
    text-align: center;
    /* font-size: 15px; */
    position: absolute;
width: 100%;
bottom: 0;
}